.inputWrapper {
  width: 100%;
  max-width: 350px;
  margin-bottom: 10px;
}
.input {
  padding: 10px;
  width: 100%;
  max-width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  border: 1px solid #dddddd;
}
